.collaborators{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    color: aliceblue;
}
.collab-heading{
    font-size: 3rem;
    margin-bottom: 50px;
    color: #e8e2e2;
}
.collaborator-div{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.collab-list{
    height: 200px;
    width: 250px;
    margin: 20px;
}
.mobile-carousel-container{
    display: none;
}

@media screen and (max-width:400px) {
    .collab-heading{
        font-size: 2rem;
        padding-left: 20px;
    }

}
@media screen and (max-width: 800px){
   .carousel-container{
        display: none;
   }

   .mobile-carousel-container{
         display: grid;
         grid-template-columns: 1fr 1fr;
         padding: 10px 5%;
   }

   .collab-list{
         width: 80%;
         margin: 15px;
         margin-right: 0;
         margin-left: 10px;
   }
}