.logo-section {
  margin: 3%;
}
.instagram-logo {
  margin-right: 10px;
  cursor: pointer;
}
.twitter-logo {
  margin-right: 10px;
  cursor: pointer;
}
.facebook-logo {
  margin-right: 10px;
  cursor: pointer;
}
.youtube-logo {
  margin-right: 10px;
  cursor: pointer;
}
