.logo-section {
  margin: 3%;
}
.instagram-logo {
  margin-right: 10px;
  cursor: pointer;
}
.twitter-logo {
  margin-right: 10px;
  cursor: pointer;
}

.youtube-logo {
  margin-right: 10px;
  cursor: pointer;
}
.linkedin-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
